<%= javascript_tag "$('takePic').addClassName('current');" %>
<script type="text/javascript">
swfobject.registerObject("fullupload", "9.0.115", "expressInstall.swf");
</script>

<h1>Take Mugshot: <%= @current_authuser.mugshots.count + 1 %>!</h1>
<ul id='social_networking' class='bottom10'>
	put notices about managing twitter and fb here
</ul>
<div id="whoAmI" me="anotherPic"></div>
<div id="fullupload" class="flash_container">
	<script type="text/javascript">
	try{
		if ($.browser.mozilla && Math.floor(window.mozInnerScreenX) != window.mozInnerScreenX ) {
			$('#full_upload').css('margin-left' , '0.5px');
		}
	}catch(ex){}
	var flashvars = {};
	var params = {userid:<%= @current_authuser.id %>, auth:0, pathurl: "http://localhost:3000/swf/paths.xml"};
	var attributes = {};
	swfobject.embedSWF("http://localhost:3000/swf/fullupload.swf", "fullupload", "480", "540", "9.0.115", flashvars, params, attributes);
	</script>
</div>

