<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>Account Created!</title>
		<!--[if !IE]-->
		<link href="/stylesheets/iphone.css" type="text/css" rel="stylesheet" />
		<!--[endif]-->
		<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
	</head>
	<body>	
		<div id="header">
			<h1>
				Daily Mugshot
			</h1>
		</div>
		<div id="content_wrap">
			<div id="content">
				<h2>Account Created!</h2>
				<p class="alert success">
				Remember to head to the main site from your computer to access all of Daily Mugshots cool features (like reminders, landmarks and more!)<br> <a href="dailymugshot://last">Click here</a> to sign into the Daily Mugshot Application!
				</p>
			</div>
		</div>
	</body>
</html>
