<li>
	<% if current_authuser.friends.include? @authuser %>    
		<%= link_to "remove from favorites",
    {:controller => 'friendships',
              :action => 'remove_follow',
              :followee_id => @authuser.id}, :remote => true,
              :class => "remove_friend" %>
			<% else %>
			<%= link_to "add to favorites",
		    {:controller => 'friendships',
		              :action => 'add_follow',
		              :followee_id => @authuser.id}, :remote => true,
		              :class => "add_friend" %>
			<% end %>
    <span id="friendStatus"></span>
</li>


<script>
	$(document).ready(function(){
		//alert("yoyoyoyo");
		$('.remove_friend')
			.bind("ajax:complete", function(evt, data, status, xhr){
				console.log(data);
				//var parsed_data = jQuery.parseJSON(data["responseText"]);
				
				//if(parsed_data["success"] == true) {
				//	$("#comments").html(parsed_data["user_html"]);
				//	$("#comment_input").val('')
				//}
				//this fires twice in development, but not in production...has to do with an extra rendering of jquery or something
				//asset pipeline is weird/a pain sometimes 
		    })

	});

	</script>