<li>
	<% if current_authuser.friends.include? @authuser %>    
		<%= link_to "remove from favorites",
    {:controller => 'friendships',
              :action => 'remove_follow',
              :followee_id => @authuser.id}, 
              :class => "remove_friend" %>
			<% else %>
			<%= link_to "add to favorites",
		    {:controller => 'friendships',
		              :action => 'add_follow',
		              :followee_id => @authuser.id}, 
		              :class => "add_friend" %>
			<% end %>
    <span id="friendStatus"></span>
</li>


<script>
	// $(document).ready(function(){
	// 	$('.remove_friend')
	// 		.bind("ajax:complete", function(evt, data, status, xhr){
	// 			//var parsed_data = jQuery.parseJSON(data["responseText"]);
				
	// 			if(parsed_data["success"] == true) {
	// 				$("#friend_link_div").html(data["friend_link_html"]);
	// 			}
	// 	    })

	// });

	</script>