
<% @mugshots.each_index do |index| %>
	<td height=62px, width=62px>
	<% if index % 13 == 0 %>
	</tr><tr>	
	<% end %>	
	<%= image_tag(@mugshots[index].try_image("thumb"), size: "53x53") %>
<% end %>
</table>
gshots[index].try_image("thumb"), :size => "53x53", :class => "thumb_image") %>
	</div>
<% end %>
<script>
$(document).ready(function() {
	$('.thumb_image').hoverpulse({speed: 100});
});
</script>