
<% @mugshots.each_index do |index| %>
	<td height=62px, width=62px>
	<% if index % 13 == 0 %>
	</tr><tr>	
	<% end %>	
	<%= image_tag(@mugshots[index].try_image("thumb"), size: "53x53") %>
<% end %>
</table>
