<% @authusers.each do |user| %>
	<% temp = [] %>
	<% user.mugshots.each do |pic|%>
	<% temp << pic.image(:inner) %>
	<% end %>
	
	<div class = "mugshow", data-authuser=<%= user.id%>, data-pics=<%= temp %>><img src="<%= user.mugshots.first.image(:inner) %>"></div>
	<%= user.id.to_s %>
<% end %>
	


