 <% if @mugshots%>
 <div align="center">
 	<ul style="display: inline; list-style: none; ">
 <% @mugshots.each_index do |i| %>
   <li style="width: 75px; float: left; list-style-type: none; margin-bottom: 5px">
        <%=(@mugshots[i].created_at).strftime("%m/%d/%y")%><br>
        <%= link_to (image_tag(@mugshots[i].try_image ("thumb"))), 
		            :controller => "authusers", 
		            :action => "show_mine", 
		            :focused_mugshot => @mugshots[i].id %><br>
		<div align="center"><%= check_box("", "active", checked: @mugshots[i].active, onchange: "$.post('mugshots/ajax_active_update.json', {id:"+ @mugshots[i].id.to_s + "})")  %></div>

   </li>
	<% end %>
<% end %>
</ul>
 </div>
