<ul class="tabs">
    <% if @current_tab == "mugshow" %>
	<li class="mugshow_view current">
	<span>Mugshow View</span>
	<% else %>
	<li class="mugshow_view">
	<%=	link_to( "Mugshow View", :action => 'show', :id => @authuser.id, :current_tab => "mugshow") %>
	<% end %>
	</li>
	
    <% if @current_tab == "mosaic" %>
	<li class="mosaic_view current">
	<span>Mosaic View</span> 
	<% else %>
	<li class="mosaic_view">
	<%=	link_to( "Mosaic View", :action => 'show', :id => @authuser.id, :current_tab => "mosaic") %>
	<% end %>
     </li>

</ul>
go_to_mosaic()
{
	$("#mosaic").css("display", "");
	$("#mugshow_view").css("display", "none");
	$("#mosaic_tab").addClass("current");
	$("#mugshow_tab").removeClass("current");
	
}

function go_to_mugshow()
{
	$("#mosaic").css("display", "none");
	$("#mugshow_view").css("display", "");
	$("#mugshow_tab").addClass("current");
	$("#mosaic_tab").removeClass("current");
			
}
$('#mugshow_tab_link').click(function(event){
  go_to_mugshow();
  event.preventDefault(); // Prevent link from following its href
});
$('#mosaic_tab_link').click(function(event){
  go_to_mosaic();
  event.preventDefault(); // Prevent link from following its href
});





</script>