<ul id="sequence_images_list">
  <% if mugshots %>
  <% for m in mugshots %>
   <li>
	   <label>
        <%=(m.created_at).strftime("%m/%d/%y")%>
        <%= image_tag(m.try_image ("thumb"), :onclick => "alert('hi magz)")%>
		<%= check_box("m", "active", checked: m.active, onchange: "$.post('mugshots/ajax_active_update.json', {id:"+ x + "})")  %>

	   </label>
   </li>
	<% end %>
	<% end %>
	
</ul>