<div class="mugshow_stats">
        <h4>Mugshow Stats</h4>
        <dl>
                <span>
                    <dt>Last Mugshot</dt>
                    <dd><strong><%= @authuser.mugshots.last.created_at.strftime "%Y-%m-%d"%></strong></dd>
                </span>

                <span>
                    <dt>Mugshot Count</dt>
                    <dd><strong><%= @authuser.get_mugshot_count %></strong></dd>
                </span>
                <span>
                    <dt>Consistency</dt>
                    <dd><strong><%= @authuser.get_consistency/10 %>%</strong></dd>
                </span>
        </dl>
</div>