<h1>Password Reset</h1>

We only store your password in an encrypted form, so even we can't figure it out ( cool huh? ).  This means we can't remind you of your password, but we can let you reset it.  

<p><%= @error_messages %></p>

<%= form_tag("/authusers/submit_forgot_password") do %>
<label for="email">Email:<input id="email" name="email" type="text" /></label>
<br />
  <%= submit_tag("Reset your password") %>
<% end %>
